<div class="top-row">
  <div class="top-or-bottom-item" id="opponent_0">
    <h4><%= @opponents[0].name %></h4>
    <img src="/images/players/player_dino.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
  <div class="top-or-bottom-item"  id="opponent_1">
    <h4><%= @opponents[1].name %></h4>
    <img src="/images/players/player_penguin.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
</div>
<div class="middle-row">
  <div class="middle-item box-small"  id="opponent_2">
    <h4><%= @opponents[2].name %></h4>
    <img src="/images/players/player_bee.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
  <div class="middle-item box-center">
    <div id="speech">
    </div>
    <div class="fish-blue">
      <img src="/images/fish_blue.png" height="200px" width="210px">
    </div>
  </div>
  <div class="middle-item box-small"  id="opponent_3">
    <h4><%= @opponents[3].name %></h4>
    <img src="/images/players/player_elephant.png" height="96px" width="71px">
    <img src="/images/cards/backs_blue.png" height="96px" width="71px">
  </div>
</div>
<div class="bottom-row">
  <div class="top-or-bottom-item" id="books">
    <h4>Your Books</h4>
    <img src="/images/cards/backs_blue.png">
  </div>
  <div class="top-or-bottom-item" id="player">
    <h4><%= @player.name %></h4>
    <img src="/images/players/player_bear.png" height="96px" width="71px">
    <div id="your_cards">
      <img src="/images/cards/ca.png" height="96px" width="71px">
      <img src="/images/cards/ck.png" height="96px" width="71px">
      <img src="/images/cards/sk.png" height="96px" width="71px">
      <img src="/images/cards/h10.png" height="96px" width="71px">
      <img src="/images/cards/d2.png" height="96px" width="71px">
    </div>
  </div>
  <div class="top-or-bottom-item">
    <h4>Fish Left</h4>
    <h2 id="fish_score">12</h2>
  </div>
</div>
